body {
    font-family: 'Courier New', Courier, monospace;
}


table {
    border-collapse: collapse;
    border: 2px solid black;
    font-size: 20px;
}

thead {
    background-color: dimgray;
    color: white;
}

th, td {
    border: 2px solid black;
    padding: 5px;
}

td {
    text-align: center;
}

tbody > tr > th {
    text-align: left;
}

tbody > tr:nth-child(odd) {
    background-color: gainsboro;
}

tbody > tr:nth-child(even) {
    background-color:whitesmoke;
}

thead > tr > th:not(:first-child) {
    width: 200px;
}

caption {
    text-wrap: balance;
    margin: 10px;
}

form {
    font-size: 20px;
    display: block;
}